<template>
    <div class="card panel"
         :class="[isActiveCard() ? 'panel-primary' : 'panel-default', card.archived ? 'archived' : '']"
         id="card-{{ card.id }}"
         @click="activateCard">

        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-11">
                    <div class="card__heading--created-at">Created: {{ card.created_at }}</div>
                    <div class="card__heading--updated-at">Updated: {{ card.updated_at }}</div>

                    <div class="form-group label-floating" v-show="isEditedCardTitle">
                        <label for="card-{{ card.id }}-title" class="control-label">Card title:</label>
                        <input type="text" class="form-control" id="card-{{ card.id }}-title"
                               @keyup.enter.stop="storeCardTitle"
                               @blur="cancelEditCardTitle"
                               v-model="card.title"
                               placeholder="New card title">
                    </div>
                    <h2 class="card__heading--title"
                        @click="editCardTitle"
                        v-else>
                        <div v-show="card.title === ''">New card title</div>
                        <div v-else>{{ card.title }}</div>
                    </h2>

                    <div class="form-group label-floating" v-show="isEditedCardDescription">
                        <label for="card-{{ card.id }}-description" class="control-label">Card description:</label>
                        <textarea class="form-control" id="card-{{ card.id }}-description"
                                  @keyup.enter="storeCardDescription(); false"
                                  @blur="cancelEditCardDescription"
                                  v-model="card.description"
                                  placeholder="New card description">
                        </textarea>
                    </div>
                    <div class="card__heading--description"
                         @click="editCardDescription"
                         v-else>
                        <div v-show="card.description === ''">New card description</div>
                        <div v-else>{{ card.description }}</div>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="card__heading--controls" v-show="isActiveCard()">
                        <button class="btn btn-default" @click="toggleCardCollapse">
                            <div class="heading__controls--collapse">
                                <i class="fa fa-expand" aria-hidden="true" v-show="card.collapsed"></i>
                                <i class="fa fa-compress" aria-hidden="true" v-else></i>
                            </div>
                        </button>
                        <button class="btn btn-default" @click="toggleCardArchive">
                            <div class="heading__controls--archive">
                                <i class="fa fa-eye" aria-hidden="true"  v-show="card.archived"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" v-else></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="elements panel-group" v-show="! card.collapsed">
                <div class="element-placeholder"
                     @click="createElement('')"
                     v-show="card.elements.length === 0 && card.id === state.activeCardId">
                    Click here to add new card element
                </div>
                <div class="element-body" v-else>
                    <element :element="element" :state="state" :editable="card.editable" v-for="element in card.elements"></element>
                </div>
            </div>

        </div>
    </div>

</template>

<style lang="scss">

    .card.panel {
        margin-bottom: 20px;

        &.archived {
            opacity: 0.5;
        }

        .panel-heading {

            .card__heading--created-at {
                display: inline-block;
                margin-right: 20px;
            }

            .card__heading--updated-at {
                display: inline-block;
            }
        }

        & > .panel-body {
            background-color: #fafafa;

            .elements .element-placeholder {
                font-size: 1.6em;
                font-color: #a0a0a0;
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &.panel-primary {

            & > .panel-body {
                background-color: #c4e4e0;

                .elements .element-placeholder {
                    cursor: pointer;
                }

            }

            & > .panel-heading {

                .card__heading--title, .card__heading--description {
                    cursor: pointer;
                }

                label {
                    color: #efefef;
                }

                input[type="text"], textarea {
                    color: #efefef;
                    background-image: linear-gradient(#efefef, #efefef), linear-gradient(#D2D2D2, #D2D2D2);
                }
            }
        }
    }
</style>

<script>
    import Element from './Element.vue';

    export default {
        components: { Element },

        data () {
            return {
                activeCard: {
                    title: '',
                    description: '',
                },

                isEditedCardTitle: false,
                isEditedCardDescription: false
            }
        },

        props: ['card', 'state', 'isFilteredIn'],

        methods: {
            isActiveCard () {
                return this.card.id == this.state.activeCardId;
            },

            activateCard () {
                if ( ! this.isActiveCard() && this.card.editable) {
                    this.state.activeCardId = this.card.id;
                    this.state.activeElementId = null;
                }

                this.$broadcast('activateElements');
            },

            toggleCardCollapse () {
                this.card.collapsed = ! this.card.collapsed;
                this.storeCard();
            },

            toggleCardArchive () {
                this.card.archived = ! this.card.archived;
                this.storeCard();
            },

            editCardTitle () {
                if (this.isActiveCard()) {
                    this.activeCard.title = this.card.title;

                    this.isEditedCardTitle = true;

                    this.$nextTick( function () {
                        document.getElementById('card-' + this.card.id + '-title').focus();
                    });
                }
            },

            cancelEditCardTitle () {
                if (this.isEditedCardTitle) {
                    this.card.title = this.activeCard.title;
                    this.activeCard.title = '';
                    this.isEditedCardTitle = false;
                }
            },

            storeCardTitle () {
                if (this.activeCard.title != this.card.title) {
                    this.storeCard();
                }

                this.activeCard.title = '';
                this.isEditedCardTitle = false;
            },

            editCardDescription () {
                if (this.isActiveCard()) {
                    this.activeCard.description = this.card.description;

                    this.isEditedCardDescription = true;

                    this.$nextTick( function () {
                        document.getElementById('card-' + this.card.id + '-description').focus();
                    });
                }
            },

            cancelEditCardDescription () {
                if (this.isEditedCardDescription) {
                    this.card.description = this.activeCard.description;
                    this.activeCard.description = '';
                    this.isEditedCardDescription = false;
                }
            },

            storeCardDescription () {
                if (this.activeCard.description != this.card.description) {
                    this.card.description = this.card.description.replace(/\n/, '');
                    this.storeCard();
                }

                this.activeCard.description = '';
                this.isEditedCardDescription = false;
            },

            storeCard () {
                this.$http.put('cards/' + this.card.id, {
                    _token: csrf_token,
                    title: this.card.title,
                    description: this.card.description,
                    collapsed: this.card.collapsed,
                    archived: this.card.archived,
                }).then((response) => {
                    this.card.updated_at = response.body;
                    console.info('Card successfully uploaded.');
                }, (response) => {
                    console.error('Updating the card failed!');
                });
            },

            updateUpdatedAt (updated_at) {
                if (this.card.updated_at <= updated_at) {
                    this.card.updated_at = updated_at;
                }
            },

            startEditNewCard (cardId) {
                if (this.card.id == cardId) {
                    this.editCardTitle();
                }
            },

            createElement (elementableType) {
                if (this.isActiveCard()) {

                    if (! elementableType) {
                        $('#modalSelectElementable').modal();
                        return;
                    }

                    this.$http.get('elements/new/' + this.card.id + '/' + elementableType).then((response) => {
                        let newElement = JSON.parse(response.body);

                        this.card.elements.push(newElement);

                        this.state.activeElementId = newElement.id;
                        this.state.activeElementIds[this.card.id] = newElement.id;

                        this.$nextTick(function () {
                            this.$broadcast('startEditNewElement', newElement.id);
                        });
                    }, (response) => {
                        console.error('Downloading a new card failed!');
                    });
                }
            },

            increaseElementPosition (positionedElementId) {
                let positionedElementIndex;
                let nextElementPosition;

                this.card.elements.every(function (element) {
                    if (element.id == positionedElementId) {
                        positionedElementIndex = this.card.elements.indexOf(element);
                        return false;
                    }

                    return true;
                }.bind(this));

                if (positionedElementIndex < (this.card.elements.length - 1)) {
                    nextElementPosition = this.card.elements[positionedElementIndex + 1].position;

                    this.card.elements[positionedElementIndex + 1].position = this.card.elements[positionedElementIndex].position;
                    this.card.elements[positionedElementIndex].position = nextElementPosition;

                    this.card.elements.sort(function (a, b) {
                        return a.position - b.position;
                    });

                    this.$broadcast('storeElement');
                }
            },

            decreaseElementPosition (positionedElementId) {
                let positionedElementIndex;
                let previousElementPosition;

                this.card.elements.every(function (element) {
                    if (element.id == positionedElementId) {
                        positionedElementIndex = this.card.elements.indexOf(element);
                        return false;
                    }

                    return true;
                }.bind(this));

                if (positionedElementIndex > 0) {
                    previousElementPosition = this.card.elements[positionedElementIndex - 1].position;

                    this.card.elements[positionedElementIndex - 1].position = this.card.elements[positionedElementIndex].position;
                    this.card.elements[positionedElementIndex].position = previousElementPosition;

                    this.card.elements.sort(function (a, b) {
                        return a.position - b.position;
                    });

                    this.$broadcast('storeElement');
                }
            },

            selectElementableType () {

                $('#modalSelectElementable').modal();

            }
        },

        events: {
            'startEditNewCard': 'startEditNewCard',
            'updateUpdatedAt': 'updateUpdatedAt',
            'createElement': function (elementableType) {
                this.createElement(elementableType);
            },
            'increaseElementPosition': 'increaseElementPosition',
            'decreaseElementPosition': 'decreaseElementPosition'
        }
    }
</script>
