<template>
    <div class="cards panel-group">

        <card :card="card" :state="state" :is-filtered-in="filteredIn[$index]" v-show="filteredIn[$index]" v-for="card in cards"></card>

    </div>
</template>

<style lang="scss">

</style>

<script>
    import Card from './Card.vue';

    export default {
        components: { Card },

        props: ['cards', 'state', 'filteredIn'],

        methods: {
            createCard () {
                this.$http.get('cards/new').then((response) => {
                    let newCard = JSON.parse(response.body);

                    console.log(newCard);

                    this.cards.push(newCard);

                    this.filteredIn[this.cards.indexOf(newCard)] = true;

                    this.state.activeCardId = newCard.id;
                    this.state.activeElementId = null;

                    this.$nextTick(function () {
                        this.$broadcast('startEditNewCard', newCard.id);
                    });
                }, (response) => {
                    console.error('Downloading a new card failed!');
                });
            }
        },

        events: {
            'createCard' : 'createCard'
        }
    }
</script>
