<template>
    <div @click="activateElement"
         class="element panel"
         :class="[isActiveElement ? 'panel-primary' : 'panel-default', element.archived ? 'archived' : '']"
         id="element-{{ element.id }}">

        <div class="panel-heading">
            <div class="element__heading">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="element-icon">
                            <i class="fa" :class="elementIconClass[element.elementable_type.replace('App\\', '').replace('Element', '')]" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="form-group label-floating" v-show="isEditedElementTitle">
                            <label for="element-{{ element.id }}-title" class="control-label">Element title:</label>
                            <input type="text" class="form-control" id="element-{{ element.id }}-title"
                                   @keyup.enter.stop="storeElementTitle"
                                   @blur="cancelEditElementTitle"
                                   v-model="element.title"
                                   placeholder="New element title">
                        </div>
                        <div class="element__heading--title"
                             @click="editElementTitle"
                             v-else>
                            <h3 v-show="element.title">{{ element.title }}</h3>
                            <h3 v-show="(!element.title) && isActiveElement">New element title</h3>
                        </div>
                        <div class="form-group label-floating" v-show="isEditedElementDescription">
                            <label for="element-{{ element.id }}-description" class="control-label">Element description:</label>
                            <textarea class="form-control" id="element-{{ element.id }}-description"
                                      @keyup.enter="storeElementDescription(); false"
                                      @blur="cancelEditElementDescription"
                                      v-model="element.description"
                                      placeholder="New element description">
                            </textarea>
                        </div>
                        <div class="element__heading--description"
                             @click="editElementDescription"
                             v-else>
                            <div v-show="element.description">{{ element.description }}</div>
                            <div v-show="(!element.description) && isActiveElement">New element description</div>
                        </div>
                    </div>

                    <div class="element__heading--controls" v-show="isActiveElement">
                        <div class="col-sm-1">
                            <button class="btn btn-default" @click="toggleElementCollapse">
                                <div class="heading__controls--collapse">
                                    <i class="fa fa-expand" aria-hidden="true" v-show="element.collapsed"></i>
                                    <i class="fa fa-compress" aria-hidden="true" v-else></i>
                                </div>
                            </button>
                            <button class="btn btn-default" @click="toggleElementArchive">
                                <div class="heading__controls--archive">
                                    <i class="fa fa-eye" aria-hidden="true"  v-show="element.archived"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" v-else></i>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-default btn-raised" @click="decreaseElementPosition">
                                <div class="heading__controls--position-up">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                            </button>
                            <button class="btn btn-default btn-raised" @click="increaseElementPosition">
                                <div class="heading__controls--position-down">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="elementable" v-show="! element.collapsed">

                <div v-if="element.elementable_type.indexOf('Checklist') > -1">
                    <checklist-element :element="element" :is-active-element="isActiveElement"></checklist-element>
                </div>

                <div v-if="element.elementable_type.indexOf('Image') > -1">
                    <image-element :element="element" :is-active-element="isActiveElement"></image-element>
                </div>

                <div v-if="element.elementable_type.indexOf('Table') > -1">
                    <table-element :element="element" :is-active-element="isActiveElement"></table-element>
                </div>

                <div v-if="element.elementable_type.indexOf('Text') > -1">
                    <text-element :element="element" :is-active-element="isActiveElement"></text-element>
                </div>

                <div v-if="element.elementable_type.indexOf('Timer') > -1">
                    <timer-element :element="element" :is-active-element="isActiveElement"></timer-element>
                </div>

            </div>

        </div>
    </div>
</template>

<style lang="scss">
    .element.panel {
        margin-bottom: 10px;

        &.archived {
            opacity: 0.5;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        & .panel-heading {

            .element-icon {
                margin-top: 10px;

                .fa {
                    font-size: 32px;
                }
            }

            .element__heading--title h3 {
                margin-top: 0px;
            }
        }

        & .panel-body {
            background-color: #f8f8f8;
        }

        &.panel-primary {

            & > .panel-heading {

                .element__heading--title, .element__heading--description {
                    cursor: pointer;
                }

                label {
                    color: #efefef;
                }

                input[type="text"], textarea {
                    color: #efefef;
                    background-image: linear-gradient(#efefef, #efefef), linear-gradient(#D2D2D2, #D2D2D2);
                }
            }
        }
    }

</style>

<script>
    import ChecklistElement from './elements/ChecklistElement.vue';
    import ImageElement from './elements/ImageElement.vue';
    import TableElement from './elements/TableElement.vue';
    import TextElement from './elements/TextElement.vue';
    import TimerElement from './elements/TimerElement.vue';

    export default {
        components: {
            ChecklistElement,
            ImageElement,
            TableElement,
            TextElement,
            TimerElement
        },

        data () {
            return {
                activeElement: {
                    title: '',
                    description: '',
                    display: ''
                },

                elementIconClass: {
                    Checklist: 'fa-list-ul',
                    Image: 'fa-picture-o',
                    Table: 'fa-table',
                    Text: 'fa-file-text-o',
                    Timer: 'fa-clock-o',
                },

                isEditedElementTitle: false,
                isEditedElementDescription: false,
            }
        },

        computed: {
            isActiveElement: function () {
                return this.element.id == this.state.activeElementId;
            }
        },

        props: ['element', 'state', 'editable'],

        methods: {
            activateElement () {
                if ( ! this.isActiveElement && this.editable) {
                    this.state.activeElementId = this.element.id;
                    this.state.activeElementIds[this.state.activeCardId] = this.element.id;
                }
            },

            activateElements () {
                if ( ! this.isActiveElement &&
                        this.state.activeElementIds[this.state.activeCardId] == this.element.id &&
                        this.editable
                ) {
                    this.state.activeElementId = this.element.id;
                }
            },

            toggleElementCollapse () {
                this.element.collapsed = ! this.element.collapsed;
                this.storeElement();
            },

            toggleElementArchive () {
                this.element.archived = ! this.element.archived;
                this.storeElement();
            },

            editElementTitle () {
                if (this.isActiveElement) {
                    this.activeElement.title = this.element.title;

                    this.isEditedElementTitle = true;

                    this.$nextTick( function () {
                        document.getElementById('element-' + this.element.id + '-title').focus();
                    });
                }
            },

            cancelEditElementTitle () {
                if (this.isEditedElementTitle) {
                    this.element.title = this.activeElement.title;
                    this.activeElement.title = '';
                    this.isEditedElementTitle = false;
                }
            },

            storeElementTitle () {
                if (this.activeElement.title != this.element.title) {
                    this.storeElement();
                }

                this.activeElement.title = '';
                this.isEditedElementTitle = false;
            },

            editElementDescription () {
                if (this.isActiveElement) {
                    this.activeElement.description = this.element.description;

                    this.isEditedElementDescription = true;

                    this.$nextTick( function () {
                        document.getElementById('element-' + this.element.id + '-description').focus();
                    });
                }
            },

            cancelEditElementDescription () {
                if (this.isEditedElementDescription) {
                    this.element.description = this.activeElement.description;
                    this.activeElement.description = '';
                    this.isEditedElementDescription = false;
                }
            },

            storeElementDescription () {
                if (this.activeElement.description != this.element.description) {
                    this.element.description = this.element.description.replace(/\n/, '');
                    this.storeElement();
                }

                this.activeElement.description = '';
                this.isEditedElementDescription = false;
            },

            decreaseElementPosition () {
                this.$dispatch('decreaseElementPosition', this.element.id);
            },

            increaseElementPosition () {
                this.$dispatch('increaseElementPosition', this.element.id);
            },

            storeElement () {
                this.$http.put('elements/' + this.element.id, {
                    _token: csrf_token,
                    title: this.element.title,
                    description: this.element.description,
                    collapsed: this.element.collapsed,
                    archived: this.element.archived,
                    position: this.element.position,
                }).then((response) => {
                    this.element.updated_at = response.body;
                    this.$dispatch('updateUpdatedAt', this.element.updated_at);
                }, (response) => {
                    console.error('Updating the element failed!');
                });
            },

            startEditNewElement (elementId) {
                if (this.element.id == elementId) {
                    this.activateElement ();

                    this.editElementTitle();
                }
            },

        },

        events: {
            'activateElements' : 'activateElements',
            'startEditNewElement': 'startEditNewElement',
            'storeElement': 'storeElement'
        }
    }
</script>
