.main {
  margin: 80px 0; }

header.header .divider-vertical {
  height: 40px;
  margin: 9px;
  border-right: 1px solid rgba(255, 255, 255, 0.54); }

header.header nav.navbar li a {
  cursor: pointer; }

header.header nav.navbar form.navbar-form a {
  color: rgba(255, 255, 255, 0.843137); }
  header.header nav.navbar form.navbar-form a:hover {
    color: white; }

header.header nav.navbar form.navbar-form input[type="text"] {
  color: #efefef;
  background-image: linear-gradient(#efefef, #efefef), linear-gradient(#D2D2D2, #D2D2D2); }

footer.footer nav.navbar .nav.navbar-nav .dropdown .dropdown-menu li a {
  cursor: pointer; }

/*# sourceMappingURL=app.css.map */
