<template>
    <div class="checklist-element list-group">
        <div class="list-item"
             v-for="item in element.elementable.checklistData">
            <div class="checklist-item"
                 :class="{ active: ($index ==  activeChecklistItemIndex && isActiveElement), archived: item.archived }"
                 @click="activateChecklistElementItem($index)"
            >
                <div class="row">
                    <div class="checklist-item__content--checkbox">
                        <div class="col-sm-1">
                            <div class="checkbox"
                                 @change="toggleChecklistItemCheckbox($index)">
                                <label>
                                    <input type="checkbox" v-model="item.checked">
                                <span class="checkbox-material">
                                    <span class="check"></span>
                                </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="checklist-item__content--edit"
                         v-show="$index == activeChecklistItemIndex && isActiveElement">
                        <div class="col-sm-9">
                            <label for="checklist-{{ element.id }}-{{ item.id }}" class="control-label">Item's text:</label>
                            <textarea class="form-control"
                                      id="checklist-{{ element.id }}-{{ item.id }}"
                                      @keyup.enter="storeChecklistElementItemContent($index)"
                                      @focus="editChecklistElementItemContent($index)"
                                      v-model="item.content"
                                      rows="5"
                                      placeholder="Your text">
                            </textarea>

                            <div class="checklist-item__content--buttons" v-show="$index == activeChecklistItemIndex">
                                <button class="btn btn-default"
                                        @click="cancelEditChecklistElementItemContent($index)">
                                    Cancel
                                </button>
                                <button class="btn btn-default"
                                        @click="storeChecklistElementItemContent($index)">
                                    Store
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="checklist-item__controls--archive">
                                <button class="btn btn-default" @click="toggleArchiveChecklistElementItem($index)">
                                    <i class="fa fa-eye" aria-hidden="true"  v-show="item.archived"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" v-else></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <button class="btn btn-default btn-raised" @click="decreaseChecklistElementItemPosition($index)">
                                <div class="checklist-item__controls--position-up">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                            </button>
                            <button class="btn btn-default btn-raised" @click="increaseChecklistElementItemPosition($index)">
                                <div class="checklist-item__controls--position-down">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="checklist-item__content--show"
                         v-else>
                        <div class="col-sm-11">
                            {{ item.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-checklist-item" v-show="isActiveElement">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <button class="btn btn-default btn-raised" @click="createChecklistElementItem">
                    Add checklist item
                </button>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .checklist-element {

        .checklist-item {
            &.active{
                border-top: 3px solid #009688;
                border-bottom: 3px solid #009688;
            }

            &.archived {
                opacity: 0.5;
            }

            .row {
                margin-bottom: 10px;
            }

            .checkbox-material {
                float: left;
                margin-right: 10px;

                .check {
                    border-width: 3px;
                }
            }

            .checklist-item__content--show {
                font-size: 1.2em;
            }
        }
    }
</style>

<script>
    export default {
        props: ['element', 'isActiveElement'],

        data () {
            return {
                activeChecklistElementItem: {
                    content: ''
                },

                activeChecklistItemIndex: -1
            }
        },

        created: function () {
            this.sortChecklistElementItems();
        },

        methods: {
            sortChecklistElementItems () {
                let items = this.element.elementable.checklistData;

                items.sort(function (a, b) {
                    return a.position - b.position;
                });
            },

            activateChecklistElementItem (itemIndex) {
                console.info('>>> activateChecklistElementItem');
                this.activeChecklistItemIndex = itemIndex;
            },

            decreaseChecklistElementItemPosition (itemIndex) {
                if (itemIndex > 0) {
                    let previousChecklistItemPosition = this.element.elementable.checklistData[itemIndex].position;
                    let newChecklistItemPosition = this.element.elementable.checklistData[itemIndex - 1].position;
                    this.element.elementable.checklistData[itemIndex].position = newChecklistItemPosition;
                    this.element.elementable.checklistData[itemIndex - 1].position = previousChecklistItemPosition;
                }

                this.storeChecklistElementItem(itemIndex - 1);
                this.storeChecklistElementItem(itemIndex);

                this.sortChecklistElementItems();
            },

            increaseChecklistElementItemPosition (itemIndex) {
                if (itemIndex < this.element.elementable.checklistData.length - 1) {
                    let previousChecklistItemPosition = this.element.elementable.checklistData[itemIndex].position;
                    let newChecklistItemPosition = this.element.elementable.checklistData[itemIndex + 1].position;
                    this.element.elementable.checklistData[itemIndex].position = newChecklistItemPosition;
                    this.element.elementable.checklistData[itemIndex + 1].position = previousChecklistItemPosition;
                }

                this.storeChecklistElementItem(itemIndex + 1);
                this.storeChecklistElementItem(itemIndex);

                this.sortChecklistElementItems();
            },

            toggleChecklistItemCheckbox (itemIndex) {
                this.storeChecklistElementItem(itemIndex);
            },

            editChecklistElementItemContent (itemIndex) {
                console.info('>>> editChecklistElementItemContent');
                this.activeChecklistElementItem.content = this.element.elementable.checklistData[itemIndex].content;
            },

            cancelEditChecklistElementItemContent (itemIndex) {
                console.info('>>> cancelEditChecklistElementItemContent');

                this.element.elementable.checklistData[itemIndex].content = this.activeChecklistElementItem.content;
                this.activeChecklistElementItem.content = '';
            },

            storeChecklistElementItemContent (itemIndex) {
                console.info('>>> storeChecklistElementItemContent');

                this.storeChecklistElementItem (itemIndex);
            },

            toggleArchiveChecklistElementItem (itemIndex) {
                this.element.elementable.checklistData[itemIndex].archived = ! this.element.elementable.checklistData[itemIndex].archived
            },

            createChecklistElementItem () {
                this.$http.get('elements/checklists/' + this.element.elementable.id + '/new').then((response) => {
                    let newChecklistItem = JSON.parse(response.body);

                    this.element.elementable.checklistData.push(newChecklistItem[0]);

                    this.activateChecklistElementItem(this.element.elementable.checklistData.length - 1);
                }, (response) => {
                    console.error('Creating of new checklist item failed!');
                });
            },

            storeChecklistElementItem (itemIndex) {
                console.info('>>> storeChecklistElementItem');

                let item = this.element.elementable.checklistData[itemIndex];

                if (this.isActiveElement) {
                    this.$http.put('elements/checklists/' + item.id, {
                        _token: csrf_token,
                        content: item.content,
                        checked: item.checked,
                        position: item.position,
                        archived: item.archived
                    }).then((response) => {
                        this.element.elementable.updated_at = response.body;
                    }, (response) => {
                        console.error('Updating the text element failed!');
                    });
                }
            }
        }
    }
</script>
