<template>
    <div class="image-element">
        <div class="image-element__show"
             v-show="element.elementable.uri">
            <img :src="element.elementable.uri" class="img-responsive center-block" alt="{{ element.elementable.filename }}">
        </div>

        <div class="image-element__upload"
             v-else>
            <img :src="activeImageElement.image" class="img-responsive center-block" alt="Uploaded image"
                 v-show="activeImageElement.image">

            <div class="form-group is-fileinput">
                <label class="control-label" for="inputFile">Upload an image file</label>
                <input type="text" readonly="readonly" class="form-control" placeholder="Browse...">
                <input type="file" id="inputFile" multiple="" @change="showSelectedImage">
            </div>

            <button class="btn btn-default btn-raised"
                    v-show="activeImageElement.image"
                    @click="storeImageElement">
                Submit
            </button>
        </div>
    </div>

</template>

<style lang="scss">

</style>

<script>
    export default {
        props: ['element', 'isActiveElement'],

        data () {
            return {
                activeImageElement: {
                    image: '',
                    files: []
                }
            }
        },

        methods: {
            showSelectedImage (event) {
                this.activeImageElement.files = event.target.files || event.dataTransfer.files;

                if ( ! this.activeImageElement.files.length)
                    return;

                let file = this.activeImageElement.files[0];

                let reader = new FileReader();
                let vm = this;

                reader.onload = (event) => {
                    vm.activeImageElement.image = event.target.result;
                };

                reader.readAsDataURL(file);
            },

            storeImageElement () {
                let file = this.activeImageElement.files[0];
                let formData = new FormData();

                formData.append("imgfile", file);
                formData.append("_token", csrf_token);

                this.$http.post('/elements/' + this.element.id + '/images/', formData)
                        .then((response) => {
                            console.info('Image uploaded successfully');

                            let imageData = JSON.parse(response.body)

                            this.element.elementable.filename = imageData.filename;
                            this.element.elementable.uri = imageData.uri;
                            this.element.elementable.updated_at = imageData.updated_at;

                        }, (response) => {
                            console.error('Updating the text element failed!');
                        });

            }
        }
    }
</script>