<template>
    <div class="table-element">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th v-for="(columnIndex, cell) in element.elementable.tableData.head"
                        :class="{ 'active-table-head-cell': (isActiveElement && activeTableColumnIndex == columnIndex) }"
                        @click="activateTableElementCell('head', columnIndex)">

                        <div class="table-head-cell__content--edit"
                             v-show="isActiveElement && activeTableColumnIndex == columnIndex">
                            <label for="table-head-{{ element.id }}-{{ cell.id }}" class="control-label">Table cell content:</label>
                            <textarea class="form-control"
                                      id="table-head-{{ element.id }}-{{ cell.id }}"
                                      v-model="cell.content"
                                      rows="3"
                                      placeholder="Your text">
                            </textarea>

                            <div class="table-head-cell__content--buttons">
                                <button class="btn btn-default btn-sm"
                                        @click="storeTableElementCellContent('head', columnIndex)">
                                    Store
                                </button>
                            </div>
                        </div>
                        <div class="table-head-cell__content--show"
                             v-else>
                            <div class="table-head-cell__content--not-empty"
                                 v-show="typeof cell !== 'undefined' && cell.content">
                                {{ cell.content }}
                            </div>
                            <div class="table-head-cell__content--empty"
                                 v-else>
                                &nbsp;
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(rowIndex,row) in element.elementable.tableData.body">
                    <td v-for="(columnIndex, cell) in row"
                        :class="{ 'active-row': (activeTableRowIndex == rowIndex && isActiveElement),
                                  'active-column': (activeTableColumnIndex == columnIndex && isActiveElement) }"
                        @click="activateTableElementCell(rowIndex, columnIndex)">

                        <div class="table-cell__content--edit"
                             v-show="activeTableRowIndex == rowIndex && activeTableColumnIndex == columnIndex">
                            <div class="table-cell__content--archive-control">
                                <button class="btn btn-default btn-sm" @click="toggleArchiveTableElementCell(rowIndex, columnIndex)"
                                        v-show="activeTableRowIndex == rowIndex && activeTableColumnIndex == columnIndex && isActiveElement">
                                    <i class="fa fa-eye" aria-hidden="true"  v-show="! cell.archived"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" v-else></i>
                                </button>
                            </div>

                            <label for="table-{{ element.id }}-{{ cell.id }}" class="control-label">Table cell content:</label>
                            <textarea class="form-control"
                                      id="table-{{ element.id }}-{{ cell.id }}"
                                      v-model="cell.content"
                                      rows="5"
                                      placeholder="Your text">
                            </textarea>

                            <div class="table-cells__content--buttons">
                                <button class="btn btn-default btn-sm"
                                        @click="storeTableElementCellContent(rowIndex, columnIndex)">
                                    Store
                                </button>
                            </div>
                        </div>

                        <div class="table-cell__content--show"
                             v-else>
                            <div class="table-body-cell__content--not-empty"
                                 v-show="typeof cell !== 'undefined' && cell.content">
                                {{ cell.content }}
                            </div>
                            <div class="table-body-cell__content--empty"
                                 v-else>
                                &nbsp;
                            </div>
                        </div>
                    </td>
                    <td v-show="activeTableRowIndex == rowIndex && isActiveElement">
                        <div class="table-row__controls--position">
                            <button class="btn btn-default btn-raised btn-sm" @click="decreaseTableElementRowPosition($index)">
                                <div class="table-row__controls--position-up">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                            </button>
                            <button class="btn btn-default btn-raised btn-sm" @click="increaseTableElementRowPosition($index)">
                                <div class="table-row_controls--position-down">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </div>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr v-show="isActiveElement">
                    <td v-for="(columnIndex, cell) in element.elementable.tableData.head">
                        <div class="table-column__controls"
                             v-show="activeTableColumnIndex == columnIndex && isActiveElement">
                            <div class="table-column__controls--position">
                                <button class="btn btn-default btn-raised btn-sm" @click="decreaseTableElementColumnPosition($index)">
                                    <div class="table-column__controls--position-up">
                                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                    </div>
                                </button>
                                <button class="btn btn-default btn-raised btn-sm" @click="increaseTableElementColumnPosition($index)">
                                    <div class="table-column__controls--position-down">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-element__controls" v-show="isActiveElement">
            <button class="btn btn-default btn-raised"
                    @click="addNewTableElementRow">
                Add new row
            </button>
            <button class="btn btn-default btn-raised"
                    @click="addNewTableElementColumn">
                Add new column
            </button>
        </div>
    </div>
</template>

<style lang="scss">
    .table-element {
        .table {

            .active-table-head-cell {
                background-color: rgba(0, 150, 136, .12);
            }

            .active-row.active-column {
                background-color: rgba(0, 150, 136, .08);
            }

            .active-row {
                border-top: 3px solid #009688;
                border-bottom: 3px solid #009688;
            }

            .active-column {
                border-left: 3px solid #009688;
                border-right: 3px solid #009688;
            }
        }
    }

</style>

<script>
    export default {
        props: ['element', 'isActiveElement'],

        data () {
            return {
                activeTableElement: {
                },

                activeTableRowIndex: -1,
                activeTableColumnIndex: -1
            }
        },

        methods: {
            activateTableElementCell (rowIndex, columnIndex) {
                console.info('>>> activateTableElementCell');

                if (this.isActiveElement) {
                    this.activeTableRowIndex = rowIndex;
                    this.activeTableColumnIndex = columnIndex;
                }
            },

            toggleArchiveTableElementCell (rowIndex, columnIndex) {
                console.info('>>> toggleArchiveTableElementCell');

                this.element.elementable.tableData.body[rowIndex][columnIndex].archived = ! this.element.elementable.tableData.body[rowIndex][columnIndex].archived;

                this.storeTableElementCell(rowIndex, columnIndex);
            },

            decreaseTableElementRowPosition (rowIndex) {
                console.info('>>> decreaseTableElementRowPosition');

                let rowLength = this.element.elementable.tableData.columns;

                if (rowIndex > 0) {
                    for (let column = 0; column < rowLength; column++) {
                        this.element.elementable.tableData.body[rowIndex][column].row -= 1;
                        this.element.elementable.tableData.body[rowIndex - 1][column].row += 1;
                    }

                    let movedTableRow = this.element.elementable.tableData.body[rowIndex];
                    this.element.elementable.tableData.body.$set(rowIndex, this.element.elementable.tableData.body[rowIndex - 1])
                    this.element.elementable.tableData.body.$set(rowIndex - 1, movedTableRow);

                    this.activeTableRowIndex -= 1;

                    for (let column = 0; column < rowLength; column++) {
                        this.storeTableElementCell(rowIndex, column);
                        this.storeTableElementCell(rowIndex - 1, column);
                    }
                }
            },

            increaseTableElementRowPosition (rowIndex) {
                console.info('>>> increaseTableElementRowPosition');

                let rowLength = this.element.elementable.tableData.columns;

                if (rowIndex < this.element.elementable.tableData.rows - 1) {
                    for (let column = 0; column < rowLength; column++) {
                        this.element.elementable.tableData.body[rowIndex][column].row += 1;
                        this.element.elementable.tableData.body[rowIndex + 1][column].row -= 1;
                    }

                    let movedTableRow = this.element.elementable.tableData.body[rowIndex];
                    this.element.elementable.tableData.body.$set(rowIndex, this.element.elementable.tableData.body[rowIndex + 1])
                    this.element.elementable.tableData.body.$set(rowIndex + 1, movedTableRow);

                    this.activeTableRowIndex += 1;

                    for (let column = 0; column < rowLength; column++) {
                        this.storeTableElementCell(rowIndex, column);
                        this.storeTableElementCell(rowIndex + 1, column);
                    }
                }

            },

            decreaseTableElementColumnPosition (columnIndex) {
                console.info('>>> decreaseTableElementColumnPosition');

                let columnLength = this.element.elementable.tableData.rows;

                if (columnIndex > 0) {
                    this.element.elementable.tableData.head[columnIndex].column -= 1;
                    this.element.elementable.tableData.head[columnIndex - 1].column +=1;

                    let movedHeadCell = this.element.elementable.tableData.head[columnIndex];
                    this.element.elementable.tableData.head.$set(columnIndex, this.element.elementable.tableData.head[columnIndex - 1]);
                    this.element.elementable.tableData.head.$set(columnIndex - 1, movedHeadCell);

                    this.storeTableElementCell('head', columnIndex);
                    this.storeTableElementCell('head', columnIndex - 1);

                    for (let row = 0; row < columnLength; row++) {
                        this.element.elementable.tableData.body[row][columnIndex].column -= 1;
                        this.element.elementable.tableData.body[row][columnIndex - 1].column +=1;

                        let movedCell = this.element.elementable.tableData.body[row][columnIndex];
                        this.element.elementable.tableData.body[row].$set(columnIndex, this.element.elementable.tableData.body[row][columnIndex - 1]);
                        this.element.elementable.tableData.body[row].$set(columnIndex - 1, movedCell);

                        this.storeTableElementCell(row, columnIndex);
                        this.storeTableElementCell(row, columnIndex - 1);
                    }

                    this.activeTableColumnIndex -= 1;
                }
            },

            increaseTableElementColumnPosition (columnIndex) {
                console.info('>>> increaseTableElementColumnPosition');

                let columnLength = this.element.elementable.tableData.rows;


                if (columnIndex < this.element.elementable.tableData.head.length - 1) {

                    this.element.elementable.tableData.head[columnIndex].column += 1;
                    this.element.elementable.tableData.head[columnIndex + 1].column -= 1;

                    let movedHeadCell = this.element.elementable.tableData.head[columnIndex];
                    this.element.elementable.tableData.head.$set(columnIndex, this.element.elementable.tableData.head[columnIndex + 1]);
                    this.element.elementable.tableData.head.$set(columnIndex + 1, movedHeadCell);

                    this.storeTableElementCell('head', columnIndex);
                    this.storeTableElementCell('head', columnIndex + 1);

                    for (let row = 0; row < columnLength; row++) {
                        this.element.elementable.tableData.body[row][columnIndex].column += 1;
                        this.element.elementable.tableData.body[row][columnIndex + 1].column -= 1;

                        let movedCell = this.element.elementable.tableData.body[row][columnIndex];
                        this.element.elementable.tableData.body[row].$set(columnIndex, this.element.elementable.tableData.body[row][columnIndex + 1]);
                        this.element.elementable.tableData.body[row].$set(columnIndex + 1, movedCell);

                        this.storeTableElementCell(row, columnIndex);
                        this.storeTableElementCell(row, columnIndex + 1);
                    }

                    this.activeTableColumnIndex += 1;
                }
            },

            addNewTableElementRow () {
                console.info('>>> addNewTableElementRow');

                if (this.isActiveElement) {
                    this.$http.get('elements/tables/' + this.element.elementable.id + '/new-row').then((response) => {
                        let newTableElementRow = JSON.parse(response.body);

                        console.info('New table row was successfully created.');

                        this.element.elementable.tableData.body.push(newTableElementRow);

                        this.element.elementable.tableData.rows += 1;

                        this.activeTableRowIndex = this.element.elementable.tableData.rows - 1;
                        this.activeTableColumnIndex = 0;
                }, (response) => {
                        console.error('Creating of new table row failed!');
                    });
                }
            },

            addNewTableElementColumn () {
                console.info('>>> addNewTableElementColumn');

                if (this.isActiveElement) {
                    this.$http.get('elements/tables/' + this.element.elementable.id + '/new-column').then((response) => {
                        let newTableElementColumn = JSON.parse(response.body);

                        console.info('New table column was successfully created.');

                        let columnLength = this.element.elementable.tableData.rows;
                        let rowLength = this.element.elementable.tableData.columns;

                        for (let row = 0; row < columnLength + 1; row++) {
                            if (row === 0) {
                                this.element.elementable.tableData.head.$set(rowLength, newTableElementColumn[row]);
                            } else {
                                this.element.elementable.tableData.body[row - 1].$set(rowLength, newTableElementColumn[row]);
                            }
                        }

                        this.element.elementable.tableData.columns += 1;

                        this.activeTableRowIndex = -1;
                        this.activeTableColumnIndex = this.element.elementable.tableData.columns - 1;
                    }, (response) => {
                        console.error('Creating of new table column failed!');
                    });
                }
            },

            storeTableElementCellContent (rowIndex, columnIndex) {
                console.info('>>> storeTableElementCellContent');
                this.storeTableElementCell(rowIndex, columnIndex);
            },

            storeTableElementCell (rowIndex, columnIndex) {
                console.info('>>> storeTableElementCell');
                let cellId, cellArchived, cellRow, cellColumn, cellContent;

                console.log('rowIndex: ' + rowIndex);
                console.log('columnIndex: ' + columnIndex);

                if (rowIndex == 'head') {
                    console.info('this is table HEAD cell');
                    cellId = this.element.elementable.tableData.head[columnIndex].id;
                    cellArchived = this.element.elementable.tableData.head[columnIndex].archived;
                    cellRow = this.element.elementable.tableData.head[columnIndex].row;
                    cellColumn = this.element.elementable.tableData.head[columnIndex].column;
                    cellContent = this.element.elementable.tableData.head[columnIndex].content;
                } else {
                    console.info('this is table BODY cell');
                    cellId = this.element.elementable.tableData.body[rowIndex][columnIndex].id;
                    cellArchived = this.element.elementable.tableData.body[rowIndex][columnIndex].archived;
                    cellRow = this.element.elementable.tableData.body[rowIndex][columnIndex].row;
                    cellColumn = this.element.elementable.tableData.body[rowIndex][columnIndex].column;
                    cellContent = this.element.elementable.tableData.body[rowIndex][columnIndex].content;
                }

                console.log('cellId: ' + cellId);
                console.log('cellArchived: ' + cellArchived);
                console.log('cellRow: ' + cellRow);
                console.log('cellColumn: ' + cellColumn);
                console.log('cellContent: ' + cellContent);

                if (this.isActiveElement) {
                    this.$http.put('elements/tables/cells/' + cellId, {
                        _token: csrf_token,
                        content: cellContent,
                        row: cellRow,
                        column: cellColumn,
                        archived: cellArchived
                    }).then((response) => {
                        this.element.elementable.updated_at = response.body;
                    }, (response) => {
                        console.error('Updating the text element failed!');
                    });
                }
            }
        }
    }
</script>