<template>
    <div class="text-element">
        <div class="{{ 'text-' + element.elementable.type }}">
            <div class="text-element__data--show"
                 v-show="! isActiveElement">
                <div class="row">
                    <div class="text-element__data--real"
                         v-show="element.elementable.content">
                        <div class="col-sm-12">
                            <div :class="textElementTypeClass">
                                {{ element.elementable.content }}
                            </div>
                        </div>
                    </div>

                    <div class="text-element__data--placeholder"
                         v-else>
                        <div class="col-sm-12">
                           Add text
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-element__data--edit"
                 v-else>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="text-{{ element.id }}-type">Text type:</label>
                                <select id="text-{{ element.id }}-type"
                                        class="form-control"
                                        @change="storeTextElementType"
                                        v-model="element.elementable.type">
                                    <option value="default">Default</option>
                                    <option value="primary">Primary</option>
                                    <option value="success">Success</option>
                                    <option value="info">Info</option>
                                    <option value="warning">Warning</option>
                                    <option value="danger">Danger</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group label-floating">
                            <div class="col-sm-12">
                                <label for="text-{{ element.id }}-content" class="control-label">Text body:</label>
                                <textarea class="form-control"
                                          :class="textElementTypeClass"
                                          id="text-{{ element.id }}-content"
                                          @keyup.enter="storeTextElementContent"
                                          @focus="editTextElementContent"
                                          @blur="cancelEditTextElementContent"
                                          v-model="element.elementable.content"
                                          placeholder="Your text">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<style lang="scss">
    .text-element__data--show {
        font-size: 1.4em;
        cursor: pointer;
    }
</style>

<script>
    export default {
        props: ['element', 'isActiveElement'],

        data () {
            return {
                activeTextElement: {
                    content: '',
                    type: ''
                },


                isEditedTextElementContent: false
            }
        },

        computed: {
            textElementTypeClass: function () {
                if (this.element.elementable.type == 'default') {
                    return '';
                }

                return 'text-' + this.element.elementable.type;
            }
        },

        methods: {
            editTextElementContent () {
                if (this.isActiveElement) {
                    this.activeTextElement.content = this.element.elementable.content;

                    this.isEditedTextElementContent = true;
                }
            },

            cancelEditTextElementContent () {
                if (this.isActiveElement && this.isEditedTextElementContent) {

                    this.element.elementable.content = this.activeTextElement.content;
                    this.activeTextElement.content = '';

                    this.isEditedTextElementContent = false;
                }
            },

            storeTextElementType () {
                if (this.activeTextElement.type != this.element.elementable.type) {
                    this.storeTextElement();
                }
            },

            storeTextElementContent () {
                if (this.activeTextElement.content != this.element.elementable.content) {
                    this.element.elementable.content = this.element.elementable.content.replace(/\n/, '');
                    this.storeTextElement();
                }

                this.activeTextElement.content = '';
                this.isEditedTextElementContent = false;

                this.$nextTick( function () {
                    document.getElementById('text-' + this.element.id + '-content').blur();
                });
            },

            storeTextElement () {
                if (this.isActiveElement) {
                    this.$http.put('elements/' + this.element.id + '/texts', {
                        _token: csrf_token,
                        content: this.element.elementable.content,
                        type: this.element.elementable.type
                    }).then((response) => {
                        this.element.elementable.updated_at = response.body;
                    }, (response) => {
                        console.error('Updating the text element failed!');
                    });
                }
            }
        }
    }
</script>
