<template>
    <div class="timer-element">
        <div class="timer-element__interval">
            <div class="timer-element__interval--edit"
                 v-show="isActiveElement && isTimerElementIntervalEdited">
                <div class="interval__edit--inputs">
                    <div class="interval-sign">
                        <button class="btn btn-default"
                                @click="switchTimerElementIntervalSign">
                            <i class="fa fa-plus-square" aria-hidden="true"
                               v-show="activeTimerElement.sign >= 0"></i>
                            <i class="fa fa-minus-square" aria-hidden="true"
                               v-else></i>
                        </button>
                    </div>
                    <div class="interval-days">
                        <div class="form-group label-floating" v-show="true">
                            <label for="timer-{{ element.id }}-interval-days" class="control-label">Days:</label>
                            <input type="number" min="0" max="99" class="form-control" id="timer-{{ element.id }}-interval-days"
                                   v-model="activeTimerElement.days">
                        </div>
                    </div>
                    <div class="interval-hours">
                        <div class="form-group label-floating" v-show="true">
                            <label for="timer-{{ element.id }}-interval-hours" class="control-label">Hours:</label>
                            <input type="number" min="0" max="23" class="form-control" id="timer-{{ element.id }}-interval-hours"
                                   v-model="activeTimerElement.hours">
                        </div>
                    </div>
                    <div class="interval-minutes">
                        <div class="form-group label-floating" v-show="true">
                            <label for="timer-{{ element.id }}-interval-minutes" class="control-label">Minutes:</label>
                            <input type="number" min="0" max="59" class="form-control" id="timer-{{ element.id }}-interval-minutes"
                                   v-model="activeTimerElement.minutes">
                        </div>
                    </div>
                    <div class="interval-seconds">
                        <div class="form-group label-floating" v-show="true">
                            <label for="timer-{{ element.id }}-interval-seconds" class="control-label">Seconds:</label>
                            <input type="number" min="0" max="59" class="form-control" id="timer-{{ element.id }}-interval-seconds"
                                   v-model="activeTimerElement.seconds">
                        </div>
                    </div>
                </div>

                <div class="interval__edit--buttons">
                    <button class="btn btn-default btn-raised"
                            @click="cancelEditElementInterval">
                        Cancel
                    </button>
                    <button class="btn btn-default btn-raised"
                            @click="storeElementInterval">
                        Confirm
                    </button>
                </div>
            </div>

            <div class="timer-element__interval--show"
                 v-else>
                <h4>{{ formatTimerInterval(element.elementable.timerData.current.interval) }}</h4>
                <div class="timer-element__controls">
                    <button class="btn btn-default btn-lg"
                            @click="editTimerElementInterval"
                            v-show="! isTimerElementIntervalEdited && isActiveElement">
                        Set
                    </button>
                    <button class="btn btn-primary btn-lg">
                        <div v-show="isTimerStarted"
                             @click="stopTimer">
                            Stop
                        </div>
                        <div v-else
                             @click="startTimer">
                            Start
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .timer-element {
        h4 {
            font-size: 2em;
        }

        .timer-element__interval {

            .timer-element__interval--show {

                .timer-element__controls {
                    margin-left: 20px;
                    position: absolute;
                }

                h4, .timer-element__controls {
                    display: inline-block;
                }
            }

            .timer-element__interval--edit {

                .interval__edit--inputs, .interval__edit--buttons {
                    display: inline-block;
                }

                .interval__edit--inputs {

                    .interval-sign, .interval-days, .interval-hours, .interval-minutes, .interval-seconds {
                        display: inline-block;
                    }

                    .interval-sign {

                        i {
                            font-size: 20px;
                        }
                    }
                }

                .interval__edit--buttons {
                    margin-left: 40px;
                }
            }
        }
    }
</style>

<script>
    export default {
        props: ['element', 'isActiveElement'],

        data () {
            return {
                activeTimerElement: {
                    interval: null,
                    sign: null,
                    days: null,
                    hours: null,
                    minutes: null,
                    seconds: null
                },

                timerRunInterval: null,

                isTimerStarted: false,

                isTimerElementIntervalEdited: false
            }
        },

        create: function () {
            if ( ! this.element.elementable.timerData.current) {
                this.element.elementable.timerData.current.action = 'set';
                this.element.elementable.timerData.current.interval = 0;
                this.element.elementable.timerData.current.timepoint = new Date().toISOString().slice(0, 19).replace('T', ' ');

                this.storeTimerElement();
            }
        },

        methods: {
            formatTimerInterval (interval) {
                const DAY_SECONDS = 60 * 60 * 24;
                const HOUR_SECONDS = 60 * 60;
                const MINUTE_SECONDS = 60;

                let sign = Math.sign(interval);

                let days;
                let hours;
                let minutes;
                let seconds;

                let formatedInterval = (sign === -1) ? '-' : '';

                interval *= sign;

                days = Math.floor(interval / DAY_SECONDS);
                hours = Math.floor((interval - days * DAY_SECONDS) / HOUR_SECONDS);
                minutes = Math.floor((interval - days * DAY_SECONDS - hours * HOUR_SECONDS) / MINUTE_SECONDS);
                seconds = interval - days * DAY_SECONDS - hours * HOUR_SECONDS - minutes * MINUTE_SECONDS;

                if (days) formatedInterval += days + 'd ';
                if (hours || days) formatedInterval += hours + 'h ';
                if (minutes || hours || days) formatedInterval += minutes + 'm ';
                formatedInterval += seconds + 's'

                return formatedInterval;
            },

            updateTimerElementInterval () {
                this.element.elementable.timerData.current.interval--;
            },

            startTimer () {
                this.element.elementable.timerData.history.push(this.element.elementable.timerData.current);

                this.element.elementable.timerData.current.action = 'start';
                this.element.elementable.timerData.current.timepoint = new Date().toISOString().slice(0, 19).replace('T', ' ');
                this.storeTimerElement();

                vm = this;
                this.timerRunInterval = setInterval(
                        function () {
                            vm.updateTimerElementInterval();
                        }, 1000);

                this.isTimerStarted = true;
            },

            stopTimer () {
                this.element.elementable.timerData.history.push(this.element.elementable.timerData.current);

                this.element.elementable.timerData.current.action = 'stop';
                this.element.elementable.timerData.current.timepoint = new Date().toISOString().slice(0, 19).replace('T', ' ');
                this.storeTimerElement();

                clearInterval(this.timerRunInterval);

                this.isTimerStarted = false;
            },

            switchTimerElementIntervalSign () {
                this.activeTimerElement.sign *= -1;
            },

            editTimerElementInterval () {
                const DAY_SECONDS = 60 * 60 * 24;
                const HOUR_SECONDS = 60 * 60;
                const MINUTE_SECONDS = 60;

                if (this.isActiveElement) {
                    if (this.isTimerStarted) {
                        this.stopTimer();
                    }

                    this.isTimerElementIntervalEdited = true;
                    this.activeTimerElement.sign =
                            Math.sign(this.element.elementable.timerData.current.interval);
                    this.activeTimerElement.interval =  this.activeTimerElement.sign * this.element.elementable.timerData.current.interval;

                    this.activeTimerElement.days =
                            Math.floor(this.activeTimerElement.interval
                                    /  DAY_SECONDS);
                    this.activeTimerElement.hours =
                            Math.floor((this.activeTimerElement.interval - this.activeTimerElement.days * DAY_SECONDS)
                                    / HOUR_SECONDS);
                    this.activeTimerElement.minutes =
                            Math.floor((this.activeTimerElement.interval - this.activeTimerElement.days * DAY_SECONDS - this.activeTimerElement.hours * HOUR_SECONDS)
                                    / MINUTE_SECONDS);
                    this.activeTimerElement.seconds =
                            this.activeTimerElement.interval - this.activeTimerElement.days * DAY_SECONDS - this.activeTimerElement.hours * HOUR_SECONDS - this.activeTimerElement.minutes * MINUTE_SECONDS;
                }
            },

            cancelEditElementInterval () {
                this.activeTimerElement.interval = null;
                this.activeTimerElement.sign = null;
                this.activeTimerElement.days = null;
                this.activeTimerElement.hours = null;
                this.activeTimerElement.minutes = null;
                this.activeTimerElement.seconds = null;

                this.isTimerElementIntervalEdited = false;
            },

            storeElementInterval () {
                const DAY_SECONDS = 60 * 60 * 24;
                const HOUR_SECONDS = 60 * 60;
                const MINUTE_SECONDS = 60;

                this.activeTimerElement.interval = this.activeTimerElement.sign * (
                        DAY_SECONDS * this.activeTimerElement.days +
                        HOUR_SECONDS * this.activeTimerElement.hours +
                        MINUTE_SECONDS * this.activeTimerElement.minutes +
                        1 * this.activeTimerElement.seconds);

                this.element.elementable.timerData.history.push(this.element.elementable.timerData.current);

                this.element.elementable.timerData.current.action = 'set';
                this.element.elementable.timerData.current.interval = this.activeTimerElement.interval;
                this.element.elementable.timerData.current.timepoint = new Date().toISOString().slice(0, 19).replace('T', ' ');

                this.activeTimerElement.interval = null;
                this.activeTimerElement.sign = null;
                this.activeTimerElement.days = null;
                this.activeTimerElement.hours = null;
                this.activeTimerElement.minutes = null;
                this.activeTimerElement.seconds = null;

                this.isTimerElementIntervalEdited = false;

                this.storeTimerElement();
            },

            storeTimerElement () {
                this.$http.post('elements/' + this.element.id + '/timers', {
                    _token: csrf_token,
                    action: this.element.elementable.timerData.current.action,
                    interval: this.element.elementable.timerData.current.interval,
                    timepoint: this.element.elementable.timerData.current.timepoint
                }).then((response) => {
                    console.info('Timer data stored successfully');
                    let timerData = JSON.parse(response.body)

                    this.element.elementable.timerData.current.updated_at = timerData.updated_at;
                    this.element.elementable.timerData.current.id = timerData.id;

                }, (response) => {
                    console.error('Updating the text element failed!');
                });
            }
        }
    }
</script>
