$woff2: format('woff2');

/*
 * Roboto Font
 */

@mixin roboto-woff2 {
  font-family: 'Roboto';
  font-style: normal;
}

@font-face {
  @include roboto-woff2;
  font-weight: 300;
  src: url(../fonts/roboto/Roboto-Thin.woff2) $woff2;
}

@font-face {
  @include roboto-woff2;
  font-weight: 300;
  src: url(../fonts/roboto/Roboto-Light.woff2) $woff2;
}

@font-face {
  @include roboto-woff2;
  font-weight: 400;
  src: url(../fonts/roboto/Roboto-Regular.woff2) $woff2;
}

@font-face {
  @include roboto-woff2;
  font-weight: 500;
  src: url(../fonts/roboto/Roboto-Medium.woff2) $woff2;
}

@font-face {
  @include roboto-woff2;
  font-weight: 700;
  src: url(../fonts/roboto/Roboto-Bold.woff2) $woff2;
}

/*
 * Material Icons
 */

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/MaterialIcons-Regular.woff2) $woff2;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}